$cGreen: #00A031;
@font-face {
    font-family: "Gilroy";
    src: url('/vendors/Font/Gilroy-Regular.ttf');
}


header{
    position: fixed;
    width: 100%;
    margin: 0 auto;
    height: 75px;
    z-index: 10;
    top: 0;

    .container{
        padding: 0;
        @media screen and (min-width: 1400px){
            max-width: 1170px;
        }
        .row{
            padding: 0;
            margin: 0;

            .menu{
                display: flex;
                justify-content: space-between;
                padding: 0;
                padding-top: 27px;

                &__list{
                    display: flex;
                    justify-content: space-between;
                    width: 37.35%;
                    align-items: center;

                    &_item{
                        font-size: 14px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        font-weight: 600;
                        color: #fff;

                        &::after{
                            content:"";
                            width: 0%;
                            cursor: pointer;
                            display: block;
                            margin: 0 auto;
                            position: relative;
                            right: 1px;
                            height: 1px;
                            background-color: #fff;
                            transition: width .2s ease-in-out;
                        }
                        &:hover{
                            &::after{
                                width: 105%;
                                transition: width .2s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}




// BANNER

.banner{
    height: 100vh;
    position: relative;
    top:0;
    background-color: transparent;
    .carousel{
        max-width: 100vw;
        height: 100%;
        .carousel-inner{
            .carousel-item{
                position: relative;
                width: 100vw;
                height: 100vh;
                top:0;
                z-index: 2;
                .carousel-item__mask{
                    background: linear-gradient(180deg, #050D1D 11.29%, rgba(5, 13, 29, 0) 90.3%);
                    position: absolute;
                    opacity: 0.6;
                    z-index: 1;
                    width: 100%;
                    height: 130%;
                    top: 0;
                }
                .carousel-item__wrapper{
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    iframe{
                        position: absolute;
                        top: -80px;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-width: 0;
                        outline-width: 0;
                        
                    }
                }
                .carousel-item__info{
                    max-width: 56%;
                    position: absolute;
                    top:50%;
                    left:0;
                    right: 0;
                    transform:translate(39%, -50%);
                    z-index: 10;
                    text-align: center;
                    color: #fff;

                    h1{
                        font-size: 90px;
                        line-height: 100px;
                        font-weight: 600;
                        margin-bottom: 25px;
                    }
                    p{
                        font-size: 18px;
                        line-height: 32px;
                        font-weight: 600;
                        letter-spacing: 0.2px;
                        margin-bottom: 54px;
                    }
                    button{
                        background-color: $cGreen;
                        width: 180px;
                        font-size: 18px;
                        line-height: 22px;
                        letter-spacing: 0.1px;
                        font-weight: 600;
                        color: #fff;
                        padding: 16px 23px;
                        border-radius: 27px;
                        transition: width .2s ease-in-out;

                        &:hover{
                            width: 190px;
                            transition: width .2s ease-in-out;
                        }
                    }
                }
            }
        }

        .carousel-indicators{
            z-index: 3;
            margin-bottom: 105px;
            align-items: center;
            button{
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: #fff;
                opacity: 1;
                margin-right: 16px;
                position: relative;

                &:last-child{
                    margin-right: 0;
                }

                
            }
            .active{
                background-color: $cGreen;
                transition: background-color .2s ease-in-out;
                &::after{
                    content: "";
                    opacity: 1;
                    transition: opacity .2s ease-in-out; 
                    display: block;
                    width: 21px;
                    height: 21px;
                    border: 1px solid $cGreen;
                    border-radius: 50%;
                    position: absolute;
                    bottom: -3.5px;
                    left: -4px;
                }
            }
        }
        .carousel-control-next{
            z-index: 3;
            width: 24px;
            height: 44px;
            top: 50%;
            margin-right: 184px;
            transition: opacity .2s ease-in-out;

            &:hover{
                opacity: 1;
                transition: opacity .2s ease-in-out;
            }

        }
        .carousel-control-prev{
            z-index: 3;
            width: 24px;
            height: 44px;
            top: 50%;
            margin-left: 169px;
            opacity: 0.5;
            transform: rotate(180deg);
            transform-origin: center;
            transition: opacity .2s ease-in-out;

            &:hover{
                opacity: 1;
                transition: opacity .2s ease-in-out;
            }
        }

    }


}




// SERVICES

.services-section{
    padding-top: 100px;
    margin-bottom: 200px;

    .container{
        padding: 0;
        @media screen and (min-width: 1400px){
            max-width: 1205px;
        }
        .row{
            padding: 0;
            margin: 0;
            position: relative;

            .services__bg{
                overflow: hidden;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 20%;
                z-index: -1;
                .services__bg_dot{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .services-item{
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .services-item__image{
                    
                    margin-right: 83px;
                    
                    img{
                        position: relative;
                        top: 40px;
                        max-width: 522px;
                        width: 100%;
                        height: auto;
                    }
                    &:nth-child(2){
                        img{
                            max-width: 585px;
                            width: 100%;
                            height: auto;
                        }
                    }
                }


                .services-item__info{
                    max-width: 580px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .info_title{
                       font-size: 38px;
                       line-height: 51px;
                       letter-spacing: 0.4px;
                       font-weight: 800; 
                       margin-bottom: 28px;
                       color: $cGreen;
                    }
                    .info_subtitle{
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.2px;
                        font-weight: 400;
                        margin-bottom: 21px;
                        color: rgba(108, 108, 108, 1);
                    }
                    .info_advantages{
                        margin-bottom: 32px;
                        span{
                            display: flex;
                            color: rgba(108, 108, 108, 1);
                            img{
                                position: relative;
                                top: 6px;
                                margin-right: 15px;
                                max-width: 13.5px;
                                max-height: 13px;
                            }
                        }
                    }
                    button{
                        color: $cGreen;
                        font-size: 18px;
                        line-height: 21.47px;
                        text-align: center;
                        background-color: #fff;
                        border: 2px solid $cGreen;
                        border-radius: 28px;
                        padding: 16px 36px;
                        max-width: 215px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        transition: background-color .2s ease-in-out,
                        color .2s ease-in-out;

                        svg{
                            g{
                                path{
                                    transition: stroke .2s ease-in-out;
                                }

                            }

                        }
                        &:hover{
                            background-color: $cGreen;
                            color: #fff;
                            transition: background-color .2s ease-in-out,
                                        color .2s ease-in-out;
                            svg{
                                g{
                                    path{
                                        stroke: #fff;
                                        transition: stroke .2s ease-in-out;
                                    }

                                }

                            }
                        }
                    }
                }

                &:nth-child(3){
                    margin-top: 80px;
                }
                &:nth-child(4){
                    margin-top: 155px;
                }
            }
        }
    }
}




// FOOTER
footer{
    background-color: rgb(34, 34, 34);
    padding-bottom: 62px;
    padding-top: 88px;

    .footer__wrapper{
        max-width: 490px;
        margin: 0 auto;

        .footer__logo{
            margin: 0 auto;
            img{
                display: block;
                margin: 0 auto;
            }
        }

        .footer__nav{
            display: flex;
            justify-content: space-between;
            margin-top: 54px;
            margin-bottom: 54px;
            .footer__nav_item{
                a{
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: 3px;
                    font-family: "Gilroy";
                    color: rgba(119, 119, 119, 1);
                    transition: color .2s ease-in-out;

                    &:hover{
                        color: rgb(255, 255, 255);
                        transition: color .2s ease-in-out;
                    }
                }

                &:nth-child(1){
                    position: relative;
                    left: 40px;
                }
                &:nth-child(2){
                    position: relative;
                    left: 40px;
                }
            }
            
        }

        .footer__copyright{
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            text-align: center;
            font-weight: 400;
            color: rgba(119, 119, 119, 1);
        }
    }
}